apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      serviceAccountName: pubsub-sa
      containers:
      - name: order-service
        image: 660633971866.dkr.ecr.us-east-1.amazonaws.com/introspect1eks-order:latest
        ports:
        - containerPort: 8080
          protocol: TCP
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: sqs.queue.url
          value: "https://sqs.us-east-1.amazonaws.com/660633971866/order-service-queue"
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: microservices
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
spec:
  selector:
    app: order-service
  ports:
  - port: 80
    targetPort: 8080
  type: LoadBalancer