apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
      annotations:
        dapr.io/enabled: "true"
        dapr.io/app-id: "orderservice"
        dapr.io/app-port: "8080"
        dapr.io/enable-api-logging: "true"
    spec:
      serviceAccountName: pubsub-sa
      containers:
      - name: order-service
        image: 660633971866.dkr.ecr.us-east-1.amazonaws.com/introspect1-order:latest
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: microservices
spec:
  selector:
    app: order-service
  ports:
  - port: 80
    targetPort: 8080
  type: ClusterIP
---
apiVersion: dapr.io/v1alpha1
kind: Subscription
metadata:
  name: orders-events-subscription
  namespace: microservices
spec:
  topic: orders-events
  route: /product-updates
  pubsubname: orders-pubsub
  scopes:
  - orderservice